<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="" method="post">
            {%csrf_token%}
            <label for="">
                UserName:
                <input type="text" name="username">
            </label><br><br>
            <label for="">
                Password:
                <input type="password" name="pass1">
            </label><br><br>
            <label for="">
                Confirm Password:
                <input type="password" name="pass2">
            </label><br><br>
            <button type="submit">signup</button>
        </form>
        {% if messages %}
        <ul>
            {% for message in messages %}
             <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>