<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="">
                stid:
                <input type="number" value="{{stupdate.stid}}" name="sid">
            </label><br><br>
            <label for="">
                stname:
                <input type="text"  value="{{stupdate.stname}}" name="sname">
            </label><br><br>
            <label for="">
                userid:
                <input type="text"  value="{{stupdate.userid}}" name="suser">
            </label><br><br>
            <label for="">
                password:
                <input type="text"  value="{{stupdate.password}}" name="spass">
            </label><br><br>
            <label for="">
                email:
                <input type="email" value="{{stupdate.mail}}" name="smail">
            </label><br><br>
            <label for=""></label>
                mobile:
                <input type="text" value="{{stupdate.mobile_no}}" name="smobile">
            </label><br><br>
            <button type="submit">Update</button>
        </form> 
    </body>
</html>